<form action=''>
	<p class="help-block">Type and hit enter to search</p>
	<input class="form-control input-huge" type="text" placeholder='Looking for ...' ng-model='searchTerm'>
	<button type="submit" hidden>Search</button>
</form>
<div class="row">
	<div class="col-md-4 col-sm-6 pv">
		<h4 class="text-bold pv-lg">Friends (4)</h4>
		<br>
		<ul class="list-unstyled">
			<li class="media">
				<div class="media-left media-middle">
					<div class="point-pin">
						<a href=""><img class="media-object img-circle thumb40" src="assets/img/user/05.jpg" alt="image"></a>
						<div class="point point-success point-lg"></div>
					</div>
				</div>
				<div class="media-body">
					<div class="media-heading">
						<a class="text-md" href="">Marc Fuller</a>
					</div>
				</div>
			</li>
			<li>
				<hr>
			</li>
			<li class="media">
				<div class="media-left media-middle">
					<div class="point-pin">
						<a href=""><img class="media-object img-circle thumb40" src="assets/img/users/07.jpg" alt="image"></a>
						<div class="point point-danger point-lg"></div>
					</div>
				</div>
				<div class="media-body">
					<div class="media-heading">
						<a class="text-md" href="">Ryan Carr</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-md-4 col-sm-6 pv">
		<h4 class="text-bold pv-lg">Pages (3)</h4>
		<br>
		<ul class="list-unstyled">
			<li class="media">
				<div class="media-left media-middle">
					<div class="thumb40 bg-success circle text-center text-bold">D</div>
				</div>
				<div class="media-body">
					<div class="media-heading clearfix">
						<a class="pull-left text-md" ui-sref="app.dashboard" layer-morph-close="">Dashboard</a>
						<small class="text-muted pull-right mt">3 matches</small>
					</div>
				</div>
			</li>
			<li>
				<hr>
			</li>
			<li class="media">
				<div class="media-left media-middle">
					<div class="thumb40 bg-purple circle text-center text-bold">P</div>
				</div>
				<div class="media-body">
					<div class="media-heading clearfix">
						<a class="pull-left text-md" ui-sref="app.extras.profile" layer-morph-close="">Profile</a>
						<small class="text-muted pull-right mt">3 matched</small>
					</div>
				</div>
			</li>
			<li>
				<hr>
			</li>
			<li class="media">
				<div class="media-left media-middle">
					<div class="thumb40 bg-danger circle text-center text-bold">P</div>
				</div>
				<div class="media-body">
					<div class="media-heading clearfix">
						<a class="pull-left text-md" ui-sref="app.extras.projects" layer-morph-close="">Projects</a>
						<small class="text-muted pul-right mt">2 matches</small>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>