<div class="container-fluid">
	<div class="row center-block">
		<div class="col-sm-12">
			<h1>{{singlePost.title}}</h1>
			<h5>By: {{singlePost.author}} | {{singlePost.date}}</h5>
			<div ng-show='singlePost.tag == "word" '>
				<form class="form">
					<div ng-repeat='item in singlePost.contents'>
						<div class="form-group">
							<input class="form-control" type="text" ng-model="item.word" required>
						</div>
						<div class="form-group">
							<textarea class="form-control" ng-repeat="c1 in item.atts" ng-model='c1' required></textarea>
						</div>
					</div>
					<div class="form-group" style="dispaly: inline-block; vertical-align: right;">
						<button class="btn btn-info" ng-click="update()">Update</button>
						<a class="btn btn-info" ui-sref='adminIndex.dashboard.singlePost({username: username, id: singlePost.id})'>Cancel</a>
					</div>
				</form>
			</div>
			<div ng-show="singlePost.tag == 'sentence'">
			    <div>
			    	<form class="form">
			    		<div class="form-group">
			    			<textarea class="form-control" ng-model="singlePost.contents" required></textarea>
			    		</div>
			    		<div class="form-group" style="dispaly: inline-block; vertical-align: right;">
			    			<button class="btn btn-info" ng-click="update()">Update</button>
							<a class="btn btn-info" ui-sref='adminIndex.dashboard.singlePost({username: username, id: singlePost.id})'>Cancel</a>
			    		</div>
			    	</form>
			    </div>
			</div>
		</div>
	</div>
</div>