<div class="container-fluid">
	<div class="row center-block">
		<div class="col-sm-12">
			<h1>{{singlePost.title}}</h1>
			<h5>By: {{singlePost.author}} | {{singlePost.date}}</h5>
			<div ng-repeat='item in singlePost.contents' ng-show='singlePost.tag == "word" '>
				<div>
					<p>{{item.word}}</p>
					<div ng-repeat='c1 in item.atts'>
						<p>{{c1.cont}}</p>
						<!-- <div style="display: inline-block; vertical-align: right;">
							<a ui-sref='adminIndex.dashboard.editPost({username: username, id: singlePost.id })' class="btn btn-info" aria-label="Modify">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a>
							<a ng-click="removeOne(item)" class="btn btn-danger" aria-label="Delete">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</a>
						</div> -->
					</div>
				</div>
			</div>
			<div ng-show="singlePost.tag == 'sentence'">
				<div>
					<p>{{singlePost.contents}}</p>
				</div>
			</div>
			<div style="display: inline-block; vertical-align: right;">
				<a class="btn btn-info" ui-sref='adminIndex.dashboard.editPost({username: username, id: singlePost.id})'>Edit</a>
				<button class="btn btn-danger" ng-click="removeAll()">Delete</button>
				<a class="btn btn-info" ui-sref='adminIndex.dashboard.all({username: username})'>Back</a>
			</div>	
		</div>
	</div>
</div>