<div class="container container-sm animated fadeInDown ng-scope">
	<div class="center-block mt-xl">
		<h1 align="center">E-study</h1>
		<div class="panel col-md-offset-3">
			<div class="panel-body">
				<p class="pv text-bold">Find Your Password</p>
				<p>We will send you instructons to reset your password.</p>
				<form class="form" name="form" ng-submit='reset(form)' novalidate=''>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group has-feedback">
								<input class="form-control" type="email" name="email" placeholder="Your email" ng-model='user.email'/>
								<span class="fa fa-envelop form-control-feedback text-muted"></span>
							</div>
							<br>						
							<div class="form-group has-error">
								<p class="help-block" ng-show='form.email.$error.required && submitted'>Please enter your email. </p>
								<p class="help-block">{{errors.other}}</p>
							</div>
						</div>
						<div class="col-md-4">
							<button class="btn btn-inverse btn-block btn-info" type="submit">send</button>
						</div>
					</div>	
				</form>
			</div>	
		</div>
		<div ng-include="'../app/components/partials/footer.html'" class="p-lg text-center ng-scope"></div>
	</div>
</div>