<div class="container-fluid">
	<div class="row cneter-block">
		<div class="panel panel-default col-sm-12">
  			<!-- Default panel contents -->
  			<div class="panel-heading">
  				<h3 class="panel-title">Your information</h3>
  			</div>
  			<div class="panel-body">
				<div>
					<label>username:</label>
					<span>{{user.username}}</span>
				</div>  
				<div>
					<label>email:</label>
					<span>{{user.email}}</span>
				</div>  
				<div>
					<label>role:</label>
					<span>{{user.role}}</span>
				</div>		
				<div>
					<label>provider:</label>
					<span>{{user.provider}}</span>
				</div>	
  			</div>  			
		</div>
	</div>
</div>